<main>
    <div class="container">
        <div class="inner-container">
            <!-- in view mode -->
            <div class="row mt-3" *ngIf="!editMode">
                <div class="col">
                    <i class="fas fa-arrow-left tool-cancel" (click)="onBackBtn()"></i>
                    <div class="float-end">
                        <i class="fas fa-pen tool-pen"></i>  
                        &nbsp;&nbsp;&nbsp;
                        <i class="fas fa-trash tool-trash"></i>
                    </div>
                </div>
            </div>
            <!-- in edit mode -->
            <div class="row mt-3" *ngIf="editMode">
                <div class="col">
                    <div class="d-flex justify-content-between">
                        <i class="fas fa-arrow-left tool-cancel" (click)="onBackBtn()"></i>
                        <i class="fas fa-check tool-done" (click)="onSubmitBtn()"></i>  
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <!-- form -->
                    <form [formGroup]="noteForm">
                        <!-- bootstrap card -->
                        <div class="card">
                            <!-- card header & outer flexbox -->
                            <div class="card-header d-flex justify-content-between">
                                <!-- left inner flexbox - date -->
                                <div class="d-flex align-items-center">
                                    <div class="d-flex flex-column">
                                        <div style="width:145px">
                                            <span class="fw-bold fs-5 app-date">{{ selectedDate | date:'dd' }} </span>
                                            <span class="fw-bold fs-5 app-month text-uppercase">{{ selectedDate | date:'MMMM' }}</span>
                                        </div>
                                        <small>{{ selectedDate | date:'yyyy' }}, {{ selectedDate | date:'EEEE' }}</small>
                                    </div>
                                    <div (click)="picker.open()" *ngIf="editMode">
                                        <input type="text" class="visually-hidden" [matDatepicker]="picker" formControlName="date">
                                        <mat-datepicker #picker></mat-datepicker>
                                        <i class="far fa-calendar-alt app-button"></i>
                                    </div>
                                </div>
                                <!-- right inner flexbox - time -->
                                <div class="d-flex align-items-center">
                                    <div style="width:75px">
                                        <span class="fw-bold app-date text-lowercase">{{ selectedDate | date:'shortTime' }}</span>
                                    </div>
                                    <div *ngIf="editMode">
                                        <input class="visually-hidden" [ngxTimepicker]="toggleIcon" formControlName="time">
                                        <ngx-material-timepicker-toggle [for]="toggleIcon">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30px" height="30px" ngxMaterialTimepickerToggleIcon>
                                                <path d="M15,3C8.373,3,3,8.373,3,15c0,6.627,5.373,12,12,12s12-5.373,12-12C27,8.373,21.627,3,15,3z M16,16H7.995 C7.445,16,7,15.555,7,15.005v-0.011C7,14.445,7.445,14,7.995,14H14V5.995C14,5.445,14.445,5,14.995,5h0.011 C15.555,5,16,5.445,16,5.995V16z"/>
                                            </svg>
                                        </ngx-material-timepicker-toggle>
                                        <ngx-material-timepicker #toggleIcon></ngx-material-timepicker>
                                    </div>
                                </div>
                            </div>
                            <!-- card body -->
                            <div class="card-body">
                                <!-- textarea -->
                                <div class="mb-3">
                                    <textarea class="form-control" formControlName="content" style="height: 300px" [readonly]="!editMode"></textarea>
                                </div>
                                <!-- image preview -->
                                <div class="container preview">
                                    <div class="row">
                                        <div class="col" *ngIf="photoPreviewArr[0]">
                                            <img [src]="photoPreviewArr[0]" alt="">
                                        </div>
                                        <div class="col" *ngIf="photoPreviewArr[0]">
                                            <img [src]="photoPreviewArr[1]" alt="">
                                        </div>
                                        <div class="col" *ngIf="photoPreviewArr[0]">
                                            <img [src]="photoPreviewArr[2]" alt="">
                                        </div>
                                    </div>
                                </div>
                                <!-- camera button -->
                                <div class="float-end" *ngIf="editMode">
                                    <label for="photo"><i class="fas fa-camera tool-camera"></i></label>
                                    <input type="file" id="photo" class="visually-hidden" accept="image/png, image/jpeg" formControlName="photo" #fileInput>
                                </div>                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>