<main>
    <div class="container">
        <div class="inner-container">
            <div class="row mt-3">
                <div class="col">
                    <a class="float-end btn btn-primary" [routerLink]="['/note']"><i class="fas fa-plus"></i> New Note</a>
                </div>
            </div>
            <div class="row mt-3 div-note" *ngFor="let note of notes" (click)="onNoteItem(note['_id'])">
                <div class="col">
                    <div class="d-flex">
                        <div class="card flex-fill">
                            <div class="card-header">
                                <div>
                                    <span class="fw-bold fs-5 app-date">{{ note.date | date:'dd' }} </span>
                                    <span class="fw-bold app-date text-lowercase float-end">{{ note.date | date:'shortTime' }}</span>
                                    <span class="fw-bold fs-5 app-month text-uppercase">{{ note.date | date:'MMMM' }}</span>
                                </div>
                                <div>
                                    <small>{{ note.date | date:'yyyy' }}, {{ note.date | date:'EEEE' }}</small>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-text">{{ note.content }}</p>
                            </div>
                        </div>
                        <div>
                            <img src="{{ s3Endpoint + note.photo }}" class="preview" alt="" *ngIf="note.photo"> 
                        </div>
                    </div>      
                </div>
            </div>
            <div class="row mt-3" *ngIf="quote.msg">
                <div class="col">
                    <div class="card">
                        <div class="card-header text-center fst-italic">
                            Quote
                        </div>
                        <div class="card-body text-center fst-italic">
                            <p class="lead">"{{ quote.msg }}"</p>
                            <small class="lead">- {{ quote.author }}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
