<main>
    <div class="container">
        <div class="inner-container text-center">
            <div class="row mt-3">
                <div class="col">
                    <p class="fs-4">Thanks for signing up!</p>
                    <p class="fs-5">A confirmation email has been sent to your email address.</p>
                    <small>Redirecting in few seconds...</small> <br>
                    <small>Click <a [routerLink]="['/main']">here</a> if redirection is not working.</small>
                </div>
            </div>
        </div>
    </div>
</main>
